table, td, th {  
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 15px;
}

.Count{
  margin-left: 45%;
  margin-Top: 5%;
  font-size: 20px;
}